

.container-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

h1{
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.new hr {
    border: 1px solid grey;
    margin-bottom: 50px;
}


.card {
    width: 18rem;
    height: 475px;
    margin: auto;
}

.card:hover {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45);
}

.col-4 {
    margin-top: 40px;
}


.img-thumb {
    width: 100%;
    height: 150px;
}

.img-thumb img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

h4{
    font-weight: 500;
}

.linkselengkapnya {
    font-size: 14px;
}

.linkselengkapnya:hover {
    cursor: pointer;
    color: grey;
    text-decoration: underline;
    outline: none;
    border: none;
}

.date , .auth {
    font-size: 14px;
    margin-bottom: 0px;
}

.load {
    text-align: center;
    margin: auto;
}

.load > button {
    background-color: rgb(141, 168, 199);
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    margin-top: 30px;
    color: rgb(230, 228, 228);
}

.load > button:hover {
    cursor: pointer;
    background-color:  rgb(143, 177, 216);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.45);
    transform-origin: 1s;
}

.pagination {
    text-align: center;
}

.pagination > button {
    border: none;
    padding: 5px 10px;
}